.stickyhere {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightcyan;
    border-color: lightcyan;
    border-style: solid !important;
    width: 90%;
    border-radius: 10px;
}

.right-nav {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 10%;
    margin-left: 90%;
    border-radius: 10px;
}

.clicker {
    background-color: white;
    border-color: white;
    border-style: solid !important;
    cursor: pointer;
    border-radius: 10px;
}

.hiddendiv {
    display: none;
}

.menudiv {
    position: absolute;
}